.bigContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #F2F6F8;
  display: flex;
}


.homePage {
  width: 100%;
  margin-left: 40px;
  margin-right: 38px;
}

@media screen and (max-width:414px) {

  .homePage {
    margin: 0;
    width: 93%;
  }


}